<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>

    <title>DW2018 - UNAB</title>

  </head>
  <body>
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

          <a class="navbar-brand" href="#">Basket App</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li> -->
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>

      </div>
    </nav>
    <div class="container">

        <div class="row">
            <!-- <div class="col-lg-12"> -->
                <h1 style="margin-top:30px;">Listado de Jugadores</h1>
                  <table id="tabla" class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apodo</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Posición</th>
                        <th scope="col">Equipo</th>
                        <th scope="col">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for player in players %}
                          <tr data-pk="{{player.id}}">
                            <th scope="row">{{player.id}}</th>
                            <td><img src="{{player.picture.url}}" alt="" class="img-thumbnail img-responsive rounded-circle"></td>
                            <td>{{player.name}}</td>
                            <td>{{player.nickname}}</td>
                            <td>{{player.age}}</td>
                            <td>{{player.get_position_display}}</td>
                            <td>{{player.team}}</td>
                            <td>
                              <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Manager
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                  <a href="{% url 'player_edit' player.id %}"> <button class="dropdown-item" type="button">Editar</button> </a>
                                  <!-- <button class="dropdown-item edit" type="button">Editar</button> -->
                                  <button class="dropdown-item delete" type="button">Eliminar</button>
                                </div>
                              </div>
                            </td>
                          </tr>
                      {% endfor %}
                  </tbody>
                </table>
            <!-- </div> -->
        </div>
    </div>
    </div>
    <br><br>

    <!-- Optional JavaScript -->
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      $(".edit").on('click', function(){
        // alert("Edit")
        $.ajax({
          data:  parametros,
          url:   '{% url "player_list" %}',
          type:  'POST',
          beforeSend: function () {
                  $("#resultado").html("Procesando, espere por favor...");
          },
          success:  function (response) {
                  $("#resultado").html(response);
          }
        });
      });
      $(".delete").on('click', function(){
        var bt = $(this).parents().eq(3)
        $.ajax({
          data:  {'id': bt.data("pk"),
                  csrfmiddlewaretoken: getCookie('csrftoken'),
                },
          url:   '{% url "player_list" %}',
          type:  'POST',
          success:  function (data) {
            bt.hide()
          }
        });
      });
    })
    </script>
  </body>
</html>